CompileFlags:
  Add:
    - --target=x86_64-elf
    - -ffreestanding
    - -mno-red-zone
    - -fno-rtti
    - -fno-exceptions
    - -std=c++17
    - -Iinclude
    - -Icpp/include
    - -Icpp/libsupc++/include
    - -Idrivers/include
    - -Imm
    - -Imm/include
