# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build
build/
logs/
.xmake/
.cache/
compile_commands.json

# Apple Desktop services store
.DS_Store

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# python
.venv/
__pycache__/
*.py[cod]
*.pyd
*.log
.pytest_cache/
.ruff_cache/
.mypy_cache/

# coverage
.coverage
htmlcov/

# temporary files
tmp/
temp/
